#absenceTable {
  thead {
    th {
      background-color: $dark-blue;
      color: white;
      padding: .5rem 0;
    }
  }

  & > tbody > tr > td:first-child {
    background-color: $blue;
    color: white;
    padding: 0 .5rem;

    div {
      white-space: nowrap;
    }
  }

  td, th {
    text-align: center;

    div {
      width: 5em;
      min-height: 5em;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    border: 1px black solid;
  }

  .noBorder {
    border: none;
    background-color: unset;
  }
}

#absenceTableContainer {
  overflow: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

