body {
  font-size: 1rem;
  color: $text-color;
  background-color: $back-color;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

  @media screen and (max-width: 600px) {
    font-size: .75rem;
  }
}
