/* place here CSS targeted at iPads and smaller, including iPhones and small hand-held devices */
#menu {
  position: fixed;
  top: 0;
  border-bottom: 3px solid $light-green;
  width: 100%;
  height: 40px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 10px;
  padding-left: 10px;
  background-color: inherit;
  z-index: 1000;

  div:first-child {
    width: 40px;
  }

  .menuWeek {
    display: flex;
    text-align: center;
    width: 80%;
    justify-content: center;

    .fas {
      font-size: 1.7em;
      color: $blue;
    }

    span {
      color: $light-green;
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  .menu-title {
    margin-top: unset;
    margin-bottom: unset;
    line-height: unset;
  }

  .return-arrow {
    .fas {
      font-size: 2.4em;
      color: $blue;
    }
  }

  div {
    &.present {
      background-color: #009933;
    }
  }

  .week-dayButton {
    display: flex;
    background-color: $blue;
    height: 80%;
    width: 40px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;

    .fas {
      font-size: 1.3em;
      text-align: center;
      color: white;
    }
  }
}

.after-menu {
  width: 100%;
  margin-top: 40px;
}

/* Source: Based from https://codepen.io/dannievinther/pen/NvZjvz */
#menu-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 1000;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    background: black;
  }

  .burger {
    position: absolute;
    top: -40px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0;
    background: transparent;
    border-radius: 0;
    height: 40px;
    width: 30px;
    cursor: pointer;
    pointer-events: auto;
    touch-action: manipulation;
  }

  .icon-bar {
    display: block;
    width: 100%;
    height: 3px;
    background: $light-green;
    transition: .3s;

    + {
      .icon-bar {
        margin-top: 5px;
      }
    }
  }

  &:focus-within {
    .bg {
      visibility: visible;
      opacity: .6;
    }

    .burger {
      pointer-events: none;
      z-index: 1001;
    }

    .icon-bar {
      &:nth-of-type(1) {
        transform: translate3d(0, 8px, 0) rotate(45deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        transform: translate3d(0, -8px, 0) rotate(-45deg);
      }
    }

    #nav-content {
      transform: none;
    }
  }

  * {
    visibility: visible;
  }
}

#nav-content {
  padding: 20px;
  position: absolute;
  width: auto;
  max-width: 75%;
  top: 0;
  left: 0;
  height: 100%;
  background: white;
  pointer-events: auto;
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;


  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  li {
    a {
      padding: 10px 5px;
      display: block;
      text-transform: uppercase;
      transition: color .1s;

      &:hover {
        color: $magenta;
      }

      &.validate{
        padding: unset;
        display: unset;
        transition: unset;
      }
    }

    div {
      min-height: 40px;
      height: auto;
      width: 95%;
      border: 1px black solid;
      margin-bottom: 5px;


    }
  }

  div {
    &.validate{
      background-color: $presence-validate;
      color: white;
      display: block;
    }

    &.present {
      background-color: $presence-present;
      color: white;
    }

    &.erase {
      background-color: $presence-erase;
      color: white;
    }

    &.unjustified {
      background-color: $presence-unjustified;
      color: white;
    }

    &.excluded {
      background-image: repeating-linear-gradient(
                      45deg,
                      $presence-excluded1 1em,
                      $presence-excluded1 1em,
                      $presence-excluded2 2em,
                      $presence-excluded2 2em
      );
      color: white;
    }

    &.expired {
      background-image: repeating-linear-gradient(
                      315deg,
                      $presence-expired1 1em,
                      $presence-expired1 1em,
                      $presence-expired2 2em,
                      $presence-expired2 2em
      );
      color: white;
    }

    &.justified {
      background-color: $presence-justified;
      color: white;
    }

    &.granted {
      background-color: $presence-granted;
      color: white;
    }

    &.late {
      background-color: $presence-late;
      color: black;
    }

    &.appointment {
      background-color: $presence-appointment;
      color: white;
    }

    &.restraint {
      background-color: $presence-restraint;
      color: white;
    }

    &.notDone {
      background-color: $presence-notDone;
      color: white;
    }
  }

  &:focus-within #nav-content {
    transform: none;
  }

  a, a:visited, a:focus, a:active, a:link {
    text-decoration: none;
    outline: 0;
  }

  a {
    color: currentColor;
    transition: .2s ease-in-out;
  }

  h1, h2, h3, h4 {
    margin: 0;
  }

  ul {
    padding: 0;
    list-style: none;
  }
}


