/***********
 * Modules
 ***********/
.module {
  border-radius: 15px;
  font-weight: 500;
  padding: .5em .75em;
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-content: start space-between;
  column-gap: .5em;
  overflow-wrap: anywhere;
  margin-right: .5em;
  margin-bottom: .5em;

  a {
    text-decoration: underline dotted;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  @include createModuleType("&__passed", $white, $light-green-transparent);
  @include createModuleType("&__actual", $light-green, $grey);
  @include createModuleType("&__future", $grey, $light-green);

  &__title {
    grid-column: 1 / 2;
    font-weight: 900;
    align-self: start;
    font-size: 1.1em;
  }

  &__book {
    font-size: 2em;
    grid-row: 2 / 3;
    grid-column: -2 / -1;
    text-align: end;
    align-self: end;
  }

  &__room {
    grid-column: 1 / 2;
    min-width: 66px;
    align-self: end;

    a {
      text-decoration: none;
    }
  }

  &__slots {
    @extend .module__room;
    grid-column: -2 / -1;
    font-size: .9em;
    align-self: start;
  }
}
