/*****************
 * GRID SCHEDULE
 *****************/
.schedule {
  display: grid;
  grid-gap: .25em;
  grid-template-rows: getScheduleTemplateRows();
  grid-template-columns: getScheduleTemplateColumns();

  .track-slot, .time-slot {
    font-weight: 600;
  }

  .track-slot {
    display: block;
    padding: 10px 5px 5px;
    text-align: center;
  }

  .time-slot {
    grid-column: times;
    transform: translateY(-.75em);
    z-index: 0;
    margin-right: .5em;
  }

  .info {
    padding: .5em;
    background-color: $magenta;
    color: $text-color-dark;
    border-radius: 10px;
  }

  .break {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $grey;
    color: #000;
    box-shadow: none;
  }

  @include scheduleRowsClasses;
  @include scheduleColumnsClasses;
}

