$transparency: 40%;

$dark-green: #093;
$light-green: #00A651;
$light-green-transparent: rgba(0, 170, 81, .4);
$magenta: #A57;
$dark-blue: #184C6D;
$blue: #2D5D7B;
$grey: #D7E0ED;
$white-grey: #E7EEFA;
$white: #E9EEF6;
$text-color: $dark-blue;
$text-color-dark: $white;
$back-color: white;
