$transparency: 40%;

$dark-green: #093;
$light-green: #00A651;
$light-green-transparent: rgba(0, 170, 81, .4);
$magenta: #A57;
$dark-blue: #184C6D;
$blue: #2D5D7B;
$grey: #D7E0ED;
$white-grey: #E7EEFA;
$white: #E9EEF6;
$text-color: $dark-blue;
$text-color-dark: $white;
$back-color: white;

$presence-validate: #29ae1f;
$presence-erase: #696969;
$presence-present: #3EC300;
$presence-unjustified: #FF1B1C;
$presence-justified: #5a1ab5;
$presence-excluded1: #FF1B1C;
$presence-excluded2: #ff9b9b;
$presence-expired1: #551988;
$presence-expired2: #784f9b;
$presence-granted: #FF69EB;
$presence-late: #FDCA40;
$presence-appointment: #104da7;
$presence-restraint: #1a9eca;
$presence-notDone: #6b3f23;
$presence-uncompleted: #ee9960;
