 $vert-fonce: #009933;
  $vert-clair: #00A651;
  $magenta: #AA5577;
  $bleu-fonce: #184C6D;
  $bleu: #2D5D7B;
  $gris: #D7E0ED;
  $blanc: #E9EEF6;
  $transparence: 40%;

 body{
   font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
 }


@import "menu";

